body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.App {
  max-width: 1280px;
  padding: 20px;
  margin: 0 auto;
}

.input_list {
  list-style: number;
  padding: 10px;
}

.input_name {
  height: auto;
  font-size: 1.5rem;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.input_invalid input {
  animation: border_anim 5s infinite;
}

@keyframes border_anim {
  0% {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  }
  50% {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
  }
  100% {
    border-bottom: 1px solid rgba(255, 0, 0, 0.25);
  }
}

.player_profiles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.code {
  background-color: grey;
  padding: 1px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.blue_team_text {
  color: #3062AB;
}

.red_team_text {
  color: #AB3F30;
}